.btn {
    @include text-16-120;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s all ease;

    @include vp-639 {
        font-size: 14px;
    }

    &--orange-bg {
        background-color: $color-orange;
        color: $color-default-white;

        @include hover-focus {
            color: $color-orange;
        background-color: $color-default-white;
        border: 2px solid $color-orange;
        }
    }

    &--border {
        color: $color-orange;
        background-color: $color-default-white;
        border: 2px solid $color-orange;

        @include hover-focus {
            background-color: $color-orange;
            color: $color-default-white;            
        }
    }
}
