.messenger-list {
    display: flex;
    align-items: center;

    a {
        display: block;
        line-height: 1;
        margin-right: 10px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}